
<div class="panel panel-default">
  <div class="panel-heading"><h4>How is your plant today?</h4></div>
  <div class="panel-body" ng-controller="LandingCtrl as landingCtrl">
		<div ng-class="landingCtrl.getAlertClass()">
	        <p>
	    	    <img ng-src="images/{{landingCtrl.humidity.status}}.png" width="80" height="80" style="float:right;">
				<h5>{{landingCtrl.alertTitle}}</h5><br/>{{landingCtrl.alertMessage}}
			</p>
		</div>
			<center>
    			<div class="graph-place" gauge-meter gauge-data="landingCtrl.humidity" ></div>
    		</center>
		</div>
  </div>
  </div>
